@{
    ViewBag.Title = "Contact";
}


<address>
    <h2>Наши Контакты</h2>
    <br />
    <br />
    <hr />
    <h4>Наши менеджеры ответят на все Ваши вопросы</h4>
    <abbr title="Телефон"></abbr>
    <h4> (067)450-34-32 </h4>
</address>

<address>
    <strong>г.Днепр</a>
    <strong>Email:</strong> <a href="https://www.google.com/intl/ru/gmail/about/">MyShop@gmail.com</a>
</address>