<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/Content/img/lamoda178954.jpg" class="d-block w-80" height="350" width="400">
        </div>
        @Html.Action("Carousel", "Home")
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon cke_button_bgcolor " aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon cke_button_bgcolor" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

</div>
<hr style="color:blue; background-color:blue">
<h4>НОВОСТИ</h4>
<div>
    @Html.Action("News", "Home")
</div>
@section Scripts {
    @Scripts.Render("~/scripts/jquery-1.10.2.min.js")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")

    <script type="text/javascript">

    </script>
}
