
@{
    ViewBag.Title = "PaymentAndDelivery";
}

<h2>Доставка и оплата</h2>
<hr>
<br />
<h4>Оплата</h4>
<p>
    Оплата производиться при получении товара наложным платежом в отделениях "Новой Почты".
    Оплата производится исключительно в национальной валюте.В подтверждение оплаты мы выдаем товарный чек
</p>
<br />
<h4>Доставка</h4>
<p>
    Все товары в нашем интернет-магазине продаются с доставкой.Мы можем доставить ваши покупки в любой уголок
    Украины по Вашему желанию,мы сотрудничаем с компанией "Новоя Почта",при оформлении заказа введите город и номер
    ближайшего к вам отделения,данные о вас получаются с формы регистрации ,если Вы хотите получить товар по другим
    данным или на другого человека измените информацию в окне оформления доставки.Дополнительную информацию можете
    укакзать в Примечании после оформления заказа.Так же Вы можете оформить заказ
    по телефону (067)450-34-32.
</p>

<img src="~/Content/img/delivery_info.png" width="700" height="400" />
<img src="~/Content/img/delivery_form.png" width="500" height="500"  />
<li>
    После оформления заказа Вы получете SMS c номером наклакдной.
</li>
<li>
    Вы можете остлеживать статус посылки на сайте компании "Новая Почта".

</li>
<li>
    По приходу посылки вы получете SMS от компании "Новая Почта".

</li>
<li>
    Получите пункт выдачи и получите посылку(наличие паспорта или удостоверения личности обязательно).

</li>
<li>
    Проверьте работоспособность товара на месте.

</li>
<li>
    Оплатите стоимость заказа оператору или курьеру.

</li>

<strong>Оплата доставки осущесвляется согласно тарифов компании "Новая Почта". </strong> <a href=https://novaposhta.ua/ru/basic_tariffs> Тарифы на оплату услуг доставки компании "Новая Почта".</a>
