
@{
    ViewBag.Title = "ViewSearch";
}

<input type="text" name="name" id="search" />
<input type='button' id="submit" value='Поиск' />
<div id="results"></div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript">
    $(document).ready(function () {
        $('#submit').click(function (e) {
            e.preventDefault();
            var name = $('#search').val();
            name=encodeURIComponent(name);
            $('#results').load('@Url.Action("ProductSearch", "Home")?name='+name)
        });
    });
    </script>
    }